h1{
    text-align: center;
    text-size-adjust: 2;
    color:rgb(0, 171, 194);
}
h2{  
    text-align: center;
    color:#ff9e9e;
}
a{  
    text-align: center;
    color:green;
}
body {

    align-items: center;
    background-image: url("wot.jpg");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
